In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [4]:
df = pd.read_csv('production-vs-consumption-co2-emissions.csv')
df.head()

,Entity,Code,Year,Consumption-based (tonnes),Production-based (tonnes )
0,Afghanistan,AFG,1949,NaN,14656.0
1,Afghanistan,AFG,1950,NaN,84272.0
2,Afghanistan,AFG,1951,NaN,91600.0
3,Afghanistan,AFG,1952,NaN,91600.0
4,Afghanistan,AFG,1953,NaN,106256.0

In [6]:
df.shape

(21126, 5)

In [5]:
df.isnull().sum()

Entity                            0
Code                           2477
Year                              0
Consumption-based (tonnes)    17535
Production-based (tonnes )      273
dtype: int64